@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Tiny5&display=swap');

:root{
    --cor-primaria: #040D12;
    --cor-secundaria:#5C8374;
    --cor-terciaria:#183D3D;
    --cor-quaternaria:#667a7a;
    
    --font-titulo:"Roboto", sans-serif;
    --font-paragrafo:"Tiny5", sans-serif;
}
*{
    margin: 0;
    padding: 0;    
}

body{    
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var( --cor-secundaria);
}

.cabecalho{
    padding: 2% 0 0 15%;

}

.cabecalho__menu{
    display: flex;
    gap: 5rem;
}

.cabecalho__menu__link {
    font-family: var(--font-paragrafo);
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
    color: var(--cor-terciaria);
}

.principal{
    padding: 6% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.principal__conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

}

.principal__conteudo__titulo{
    text-align: justify;
    font-size: 2.25rem;
    font-family: var(--font-titulo);
}

.Titulo-destaque {
    color:var(--cor-terciaria);
}

.principal__conteudo__paragrafo{
    text-align: justify;
    font-size: 1.5rem;
    font-family: var(--font-paragrafo);
    color: var( --cor-secundaria);

}

.Bate-papo{
    color: var(--cor-quaternaria);
    border: 1px solid var(--cor-terciaria);
    padding: 5px;
} 

.Bate-papo:hover{
    background-color: var(--cor-terciaria);
    color: var(--cor-quaternaria)
    
}
.apresentacao__links{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.apresentacao__links__botao{
    display: flex;
    justify-content: center;
    gap: 1rem;
    border: 1px solid var(--cor-terciaria);
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    padding: 1.35rem;
    text-decoration: none;
    color: var(--cor-quaternaria);
    font-family: var(--font-titulo);
    font-weight: 400; 
}
.apresentacao__links__botao__px{
    width: 32px;
    height: 32px;
    
}

.apresentacao__links__botao:hover {
    background-color: var(--cor-terciaria);
    padding: 30px 30px;
    font-size:xx-large;
    border: 1px solid var(--cor-quaternaria);
}
.div-imgd20 {
    width: 50%;       
    display: flex;
    justify-content: center;
}
.img-principal{
    width: 80%;    
}

.rodape{
    background-color: var( --cor-secundaria);
    padding: 1.5rem;
    color: var(--cor-terciaria);
    text-align: center;
    font-family: var(--font-titulo);   
    font-size: 1.5rem;
    font-weight: 400;
}

@media (max-width: 1200px) {
    .cabecalho{
        padding: 5% 0% 0% 0%;
    }

    .cabecalho__menu{
        justify-content: center;
    }

    .principal{
        flex-direction: column-reverse;
        padding: 5%;        
    }
    .principal__conteudo{
        width: auto;
    }
}